# Python cache / bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Databases
*.db
*.sqlite3

# Logs
*.log

# Machine Learning Models / Checkpoints
*.pkl
*.h5
*.ckpt

# OS files
.DS_Store
Thumbs.db

# Docker stuff
*.pid
